body {background-color: #6c770bbb; margin: 1%;}

header {
    text-align: center;
     font-family: Verdana;
      color: white; 
       text-decoration: none;
    }


header ul li {
   display: inline-block;
   float: right;
    text-decoration: none;
    }


ul li {
     float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }